<h1>Test Angular</h1>
<router-outlet>
  <app-social-button provider="linkedin" link="http://www.linkedin.com"></app-social-button>
 <app-social-button provider="facebook" link="http://www.facebook.com"></app-social-button>
 <app-social-button provider="twitter" link="http://www.twitter.com"></app-social-button>
 <app-social-button provider="google" link="http://www.google.com"></app-social-button>


  <app-liste-social-net (sortie)="modif($event)"></app-liste-social-net>
  {{socNet | json }}
  <app-social-button  *ngIf="socNet!=null" [provider]="socNet.lib" [link]="socNet.url"></app-social-button>
</router-outlet>



